<%- include("../partials/header") %>

    <div class="container">
        <div class="jumbotron" id="nopad">
            <div class="container header">
                <div class="row">
                    <h2 style="text-align: center;">Edit Comment</h2>
                    <div style="width: 30%; margin: 30px auto;">
                        
                        <form action="/cars/<%=car_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="comment[author]" value="<%=comment.author%>">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-lg btn-block">Submit!</button>
                            </div> 
                        </form>
                        <a class="btn btn-primary" href="/cars/<%=car_id%>">Go Back</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    

<%- include("../partials/footer") %>
